NEXT_PUBLIC_API_ORIGIN=http://localhost:3000
NEXT_PUBLIC_SITE_ORIGIN=http://localhost:3001
NEXT_PUBLIC_IOS_APP_STORE_URL=https://apps.apple.com/app/id6778684107
NEXT_PUBLIC_IOS_APP_STORE_ID=6778684107
